

#todos_coments
	height 100%
	overflow hidden

	.un_comentario
		background #cf760d
		width 93%
		float left
		margin-top 1em
		padding 2em	
		border-radius 1em
		font-family arial

		p
			margin 0		

		.su_coment
			font-style italic
			color #fff
		.su_nombre
			color #000
		.su_ocupacion
			font-style italic
			font-size 0.9em		
			color #ddd
		.sus_datos
			font-size 0.9em
			margin-left 2em		
			color #ddd
		.su_pais
			color #000
		
	.add_new
		background #3a2d2b
		width 93%
		float left
		margin-top 1em
		padding 2em			
		font-family arial
		text-align center
		a
			background #ddd
			padding 0.5em 1em
			margin 2em
			border-radius 0.5em
			height 5em
			text-decoration none

			&:hover
				background #cf760d
				box-shadow 5px 5px 10px #000
				color #fff

