
.fm_contacts
	color #dadada
	margin-top 1em
	font-size 0.9em

	.titu_cont
		margin-bottom 1em

		span
			font-weight bold
			font-size 1.5em
			color #cf8209

	.compo_cont
		display inline-block
		vertical-align top
		margin-top 0.5em
		margin-left 1em

		input
			background #cdcdcc
			border 1px solid #848483
			height 1.5em 
			padding-left 0.5em
			color #333

		textarea
			background #cdcdcc
			border 1px solid #848483
			padding-left 0.5em
			color #333

		.estilo_but
			width 10em
			font-weight bold
			box-shadow 2px 2px 5px #000

			&:hover
				background #cf8209
				color #000

		#ms_c_sending
			color #cf8209
			display none
