
section	

	.fotos
		
		background #f2f0f0
		padding 2em
		overflow hidden
		padding-bottom 3em

		.titulo_fotos
			h2
				font-family "letra_corrida"
				font-size 1.8em

				span
						color #603917

		.categorias
			margin 0
			overflow hidden			

			.categoria
				float left			
				width 30%
				height 8em
				padding 2em 0.9em				

				img
					float left
					height 90px
					margin-right 1em
					margin-bottom 1.2em
					box-shadow 0px 0px 20px #000
					border 5px solid #ddd

					&:hover
						box-shadow 0px 0px 20px #d59203

				.titu_cat
					font-weight bold
					font-family "letra_corrida"
					font-size 1.3em
					color #603917					

					a
						text-decoration none
						color #603917

						&:hover
							color #b74203



				.descr_cat
					color #545453
					font-size 0.8em
					margin-top 1em

					a
						color #d59203
						font-weight bold
						font-style italic

						&:hover
							color #e25406
							text-decoration none

			#cat1
				border-bottom 1px solid #ccc

			#cat2, #cat3
				border-left 1px solid #ccc
				border-bottom 1px solid #ccc

			#cat4, #cat5
				border-right 1px solid #ccc


