
section		
	.rooms		
		background #f2f0f0
		padding 2.5em
		padding-top 1em 
		overflow hidden

		.titulo_fotos
			h2
				font-family "letra_corrida"
				font-size 1.8em

				span
						color #603917

		.tipo_hab
			width 100%			
			border-top 1px solid #decfc0			
			padding 1.5em			


			figure				
				width 45%
				display inline-block
				vertical-align top				


				img
					border-radius 1em
					box-shadow 0 0 20px #333

			#hab_dobles
				margin-left 2em

			.info_habitacion
				padding-left 1em				
				width 45%
				display inline-block
				vertical-align top

				.titu_tipo
					font-family "letra_corrida"
					font-size 2em
					color #b1432b

				.descr_tipo
					margin-top 0.5em		

					.descripcion												
						span						
							font-weight bold
					
					.listas_serv
						width 150px						
						display inline-block
						vertical-align top

						ul						
							font-size 0.9em
							margin 0.5em
				.botones_hab
					a
						display block						
						color #000
						margin-top 0.5em
						padding 0.5em
						border-radius 0.5em
						text-align center
						text-decoration none
						background #edcbc4
						font-weight bold

						&:hover
							background #a63a22
							color #ddd
							box-shadow 0 0 10px #000
						
			
				

				
				

			

				
				
				


